/* put your css here dasindu! */ 

/* here is an example */ 

/*

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root {
  --font-body: 'Quicksand', sans-serif;
  --font-header: 'Montserrat', sans-serif;
  --font-mono: "Noto Sans Mono", monospace;
}

*/
